
.submitButton{
    position: fixed;
    background: #0000;
    background-image: url(https://mcdn.coolmate.me/image/January2024/mceclip1_62.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 50px;
    right: 50px;
    width: 70px;
    height: 90px;
    padding: 0;
    border-radius: 50%;
    border: none;
    transition:transform 0.2s ease-in-out;
    cursor: pointer;
    z-index: 10;
}

.submitButton:hover{
    transform: scale(1.3)
}

