.product-container {
    display: flex;  
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0px 40px 0px;
}
.product-container .product-container-info{
    background-color: #F2F1EF;
    width: 300px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin: 10px 0px 10px;  
}
.product-container .product-container-info img{
    width: 250px;
    height: 300px;
}