@media  screen and (max-width: 1290px) {
    
    /* header */
    .header-container .header-nav-links{
        font-size: 14px;
    }

    .header-container .header-logo {
        width: 80px;
    }

    .header-container .header-actionUser .header-actionUser-search{
        width: 70%;
    }


}

@media  screen and (max-width: 1100px) {

    /* header */
    .header-container .header-nav-links{
        font-size: 12px;
    }

    .header-container .header-actionUser .header-actionUser-search {
        height: 40px;
    }

    .header-container {
        height: 80px;
    }

}


@media  screen and (max-width: 990px) {
    /* được áp dụng cho tablet width 744px */
    .header-container{
        height: 70px;
    }

    .header-container .header-menu-search{
        display: flex;
    }

    .header-container .header-menu-search svg{
        font-size: 25px;
        margin-right: 10px;
    }

    .header-container .header-nav-links{
        display: none;
    }

    .header-container .header-logo{
        width: 70px;
    }

    .header-container .header-actionUser .header-actionUser-search{
        display: none;
    }

    .header-actionUser {
        width: 7%;
        justify-content: space-between;
    }
}

@media  screen and (max-width: 390px) {
    /* được áp dụng cho mobile */
}